<main class="bd-masthead">
    <div class="container">
        <img class="bd-booticon" src="img/logo.svg" alt="{{libraryName}} logo" />
        <p class="lead d-none d-md-block">
            {{libraryName}}
        </p>
        <p>Currently at v{{version}}</p>
        <p class="lead">
            <a class="btn btn-outline-primary" [routerLink]="['/components']">Demo</a>
            <a class="btn btn-outline-primary" [routerLink]="['/getting-started']">Installation</a>
        </p>
    </div>
</main>

<section class="container">

    <div class="row">
        <div class="col-sm-2">
            <img src="/img/feature-1.svg" class="img-fluid d-none d-sm-block" alt="Image for feature-1">
        </div>
        <div class="col-sm-4">
            <h4>Feature 1</h4>
            <p class="text-muted">
                Text for feature 1
            </p>
        </div>

        <div class="col-sm-2">
            <img src="/img/feature-2.svg" class="img-fluid d-none d-sm-block" alt="Image for feature-2">
        </div>
        <div class="col-sm-4">
            <h4>Feature 2</h4>
            <p class="text-muted">
                Text for feature 1
            </p>
        </div>
    </div>


</section>